body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title,
h2 {
  text-align: center;
}

/* ------------------------------------------- */
/* ===============
   1.  ul class .flex
================ */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.main-list.lang{
cursor: pointer;
}

.main-list {
  padding: 20px;
  position: relative;
  font-weight: bold;
}

.main-list .lang-down {
  position: absolute;
  background-color: #333;
  padding: 5px;
  width: 125px;
  top: 50px;
  left: -5px;
  border-top: 1px solid whitesmoke;
  display: none;
  transition: all 0.5s;
}

.main-list .lang-down li{
  margin: 3px 0;
  transition: all 0.5s;
  cursor: pointer;
  text-align: start;
  font-weight: bold;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.lang-down .fa-check{
  margin: 0 3px;
}

li.lang:hover ul.lang-down{
  display: block;
}

.main-list .lang-down li:hover{
  background-color: #777;
  color: #333;
  padding: 5px;
}

.main-link {
  padding: 8px 15px;
}

.main-link:hover,
.main-link.active {
  color: #fff;
  box-shadow: 0 0 5px #fff;
  border-radius: 5px;
}


* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;
  /* letter-spacing: 1px; */
}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  padding: 20px;
  font-size: 25px;
}

a {
  color: #fff;
}


form {
  width: 30%;
}

input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* ==================
    2. main & footer
===================== */
main {
  min-height: calc(100vh - 128.64px);
  font-weight: bold;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .25);
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

/* ==================
    4. Mode 
   ================== */

h1 {
  margin: 0;
}

button {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 7px;
  background-color: transparent;
  border: solid 2px #fff;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
}

main button:hover {
  background-color: #777;
  transform: scale(1.1);
  color: #fff !important;
}

.App.Light {
  background-color: aliceblue;
  color: #282c34 !important;
}

.App.Light main {
  color: #282c34;
}

.App.Light header,
.App.Light footer {
  background-color: #777;
  color: #fff;
}

.App.Light .fa-sun {
  display: none;
}

.App.Dark {
  background-color: #282c34;
  color: aliceblue;
}

.App.Dark main {
  color: aliceblue;
}

.App.Dark .fa-moon {
  display: none;
}

.fa-sun {
  font-size: 20px;
  color: goldenrod;
  text-shadow: 0px 0px 15px goldenrod;
  cursor: pointer;

}

.fa-moon {
  font-size: 20px;
  text-shadow: 0px 0px 15px #fff;
  color: #eee;
  cursor: pointer;
}

.App.Dark main p {
  color: #fff;
}

.App.Light main time {
  color: #1b1b1b;
}

.App.Dark button {
  color: #fff;
}

.App.Light button {
  color: #1b1b1b;
  border: 1px solid #777;
}

.App.Light form p,
.App.Light form h1 {
  color: #1b1b1b;
}

.App.Light main p {
  color: #1b1b1b;
}

.App.Light form button:active {
  color: #1b1b1b;
}

/* =======================================
   Level-2 {SignUp - SignIn}
======================================== */
form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px 0;
  padding: 7px;
  border: solid 1px #777;
  border-radius: 5px;
  color: #000;
}

form button {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #777;
  font-size: 16px;
  border: none;
  color: #fff;
}

form button:active {
  background-color: transparent;
  border: solid 2px #777;
}

form .account {
  font-size: 16px;
  font-weight: 100;
}

form .account a {
  text-decoration: underline;
  color: #777;
}


main a {
  text-decoration: underline;
  color: #777;
}



/* ====================
   amnimation
=======================*/
span {
  animation: heart 2s infinite linear;
}

@keyframes heart {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* ==============================
     Animation for bigger screen
=============================== */
header {
  animation: down 1s 1;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .25);
}

@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

/* ==============================
     Animation for ( Loding ) 
=============================== */
.loading {
  height: 150px;
  width: 150px;

  border-radius: 50%;

  border-top: 5px solid #777;
  border-right: 5px solid #777;

  animation: mylod 1s infinite linear;
}

@keyframes mylod {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}