body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.title,
h2 {
  text-align: center;
}

/* ------------------------------------------- */
/* ===============
   1.  ul class .flex
================ */
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hide-when-mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.main-list.lang {
  cursor: pointer;
  color: #999;
}

.main-list.lang:hover {
  color: #fff;
}

.main-list {
  padding: 20px;
  position: relative;
  font-weight: bold;
}

.main-list .lang-down {
  position: absolute;
  background-color: #31353f;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  width: 65px;
  top: 70px;
  left: 8px;
  border-top: 1px solid whitesmoke;
  display: none;
  transition: all 0.5s;
}

.main-list .lang-down li {
  margin: 3px 0;
  transition: all 0.5s;
  cursor: pointer;
  text-align: start;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.lang-down .fa-check {
  margin: 0 3px;
}

li.lang:hover ul.lang-down {
  display: block;
}

.main-list .lang-down li:hover {
  background-color: #777;
  color: #333;
  padding: 0 2px;
}

header .fa-circle-check:hover {
  color: #333 !important;
}

.main-link {
  padding: 8px 15px;
}


.title {
  color: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  text-decoration: none;
  list-style: none;

}

html {
  box-sizing: border-box;
  background-color: #f2f2f2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

h1 {
  padding: 20px;
  font-size: 25px;
}

a {
  color: #999;
}


form {
  width: 30%;
}

input:focus-visible {
  outline: -webkit-focus-ring-color auto 0px;
}

/* ==================
    2. main & footer
===================== */
main {
  min-height: calc(100vh - 128.64px);
  font-weight: bold;
  line-height: 30px;

  display: flex;
  align-items: center;
  justify-content: center;

}

footer {
  padding: 20px 0;
  text-align: center;
  font-size: 18px;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .25);
}

footer .fa-brands {
  font-size: 25px;
  padding: 0 10px;
  color: #fff;
}

/* ==================
    3. header 
===================== */
.show-when-mobile {
  /* header of mobile */
  display: none;
}

header .fa-solid {
  background-color: #313847;
  padding: 13px;
  border-radius: 50px;
  color: #888;
}

header .fa-solid:hover {
  color: #fff;
}

.active {
  padding-bottom: 18px;
  border-bottom: solid 1px #fff;
}

header .toast {
  padding: 5px 10px;
  position: absolute;
  top: 80px;
  left: 28px;
  font-size: 13px;
  background-color: #313847;
  border-radius: 10px;
  font-weight: 500;
  display: none;
}

header .mode .toast {
  left: 14px;
}

header .SignIn .toast,
header .SignUp .toast {
  left: 13px;
}

header .signOut .toast {
  left: 9px;
  top: 82px;
}

header .home:hover .toast,
header .Profile:hover .toast,
header .Profile:hover .toast,
header .mode:hover .toast,
header .signOut:hover .toast,
header .SignIn:hover .toast,
header .SignUp:hover .toast,
header .about:hover .toast {
  display: block;
}

header .fa-circle-check {
  color: #999;
}

/* ==================
    4. Mode 
   ================== */

h1 {
  margin: 0;
}

button {
  padding: 5px 15px;
  margin: 5px;
  border-radius: 7px;
  background-color: transparent;
  border: solid 2px #fff;
  cursor: pointer;
  transition: all 0.2s;
  font-weight: bold;
}

main button:hover {
  background-color: #777;
  transform: scale(1.1);
  color: #fff !important;
}


.Dark {
  background-color: #282c34;
  color: aliceblue;
}

.Dark main {
  color: aliceblue;
}

.Dark .fa-moon {
  display: none;
}

.fa-sun {
  font-size: 20px;
  color: #a37a12;
  text-shadow: 0px 0px 15px goldenrod;
  cursor: pointer;
  background-color: #313847;
  padding: 10px;
  border-radius: 50px;
}

.fa-sun:hover {
  color: goldenrod;
}

.fa-moon {
  font-size: 20px;
  text-shadow: 0px 0px 15px #fff;
  color: #eee;
  cursor: pointer;
}

.Dark main p {
  color: #fff;
}



/* =======================================
   Level-2 {SignUp - SignIn}
======================================== */
form {
  display: flex;
  flex-direction: column;
}

input {
  margin: 5px 0;
  padding: 7px;
  border: solid 1px #777;
  border-radius: 5px;
  color: #000;
}

form button {
  margin: 5px 0;
  padding: 5px 10px;
  background-color: #777;
  font-size: 16px;
  border: none;
  color: #fff;
}

form button:active {
  background-color: transparent;
  border: solid 2px #777;
}

form .account {
  font-size: 16px;
  font-weight: 100;
}

form .account a {
  text-decoration: underline;
  color: #777;
}


main a {
  text-decoration: underline;
  color: #777;
}




/* ====================
   amnimation
=======================*/
span {
  animation: heart 2s infinite linear;
}

@keyframes heart {

  0%,
  100% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
}

/* ==============================
     Animation for bigger screen
=============================== */
header {
  animation: down 1s 1;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, .25);
}

@keyframes down {
  0% {
    transform: translateY(-100px);
  }

  100% {
    transform: translateY(0);
  }
}

/* ==============================
     Animation for ( Loding ) 
=============================== */
.loading {
  height: 150px;
  width: 150px;

  border-radius: 50%;

  border-top: 5px solid #777;
  border-right: 5px solid #777;

  animation: mylod 1s infinite linear;
}

@keyframes mylod {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.singUp-loding {
  display: flex;
  align-items: center;
  justify-content: center;
}

.fa-check {
  color: #999;
  background-color: transparent;
}

/* ==================
     Light Mode 
   ================== */
.Light {
  background-color: #d3c8ad;
  color: #282c34 !important;
}

.Light header {
  box-shadow: 0 5px 30px 0 #8d8572;
}

.Light footer {
  box-shadow: 0 5px 37px 0 #8d8572
}

.Light main {
  color: #282c34;
}

.Light header,
.Light footer {
  /* background-color: #7f7866; */
  background-color: #8d8572;
  color: #fff;
}

.Light .fa-sun {
  display: none;
}

.Light main time {
  color: #1b1b1b;
}

.Dark button {
  color: #fff;
}

.Light button {
  color: #1b1b1b;
  border: 1px solid #777;
}

.Light form p,
.Light form h1 {
  color: #1b1b1b;
}

.Light main p {
  color: #1b1b1b;
}

.Light form button:active {
  color: #1b1b1b;
}

.Light header .fa-solid {
  background-color: #999999;
  color: #c7c7c7;
}

.Light header .fa-solid:hover {
  color: #fff;
}

.Light .fa-moon {
  padding: 11px 14px;
}

.parent-of-btn button {
  margin: 5px 10px;
}

.Light header .toast {
  background-color: #999999;
}

.Light .main-list .lang-down {
  background-color: #7f7866;
}

.Light .main-list .lang-down li:hover {
  color: #fff;
}

footer .fa-heart {
  font-size: 25px;
  margin: 0px 10px;
}

.Light .parent-of-btn select {
  color: #fff;
}

.Light .parent-of-btn select:hover {
  background-color: #999;
}

footer hr {
  width: 200px;
  margin: 6px auto;
}

.Light .home .all-tasks .one-task {
  background-color: #aba28d;
  border: none;
}

.Light .title-edit-task input {
  color: #7f7866;
}


.Light .edit-task .title-edit-task .fa-pen-to-square,
.Light .click-forget {
  color: #7f7866;
}

.Light .sub-task .menuo-sub-task {
  color: #7f7866;
}

.sub-task #checkbox {
  margin: 5px;
}

.Light .add-new-task-items {
  background-color: #7f7866;
}


.Light .Cancel {
  color: #fff;
}

.Light .submit-task-butn,
.Light .add,
.Light .sub-task .sub-items,
.Light .add-btn-of-items,
.Light .singUp-loding,
.Light .singUp-loding:hover,
.Light .submit-task-butn:hover {
  background-color: #7f7866;
  color: #fff;

}
.Light form input{
  border: none;
}